.container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
@media screen and (max-width: 900px){
    .container{
        display: flex;
        flex-direction: column;
    }
}