:root{
  --color-main: #1eb2a6;
  --color-secondary: #fff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: hsla(0,0%,100%,.2);
  }
.logo_nipe{
    width: 150px;
}

.logo{
  position: relative;
  left: 100px;
  bottom: -10px;
}
  
.nav_menu {
  display: flex;
  list-style: none;
  align-items: center;
}
  
.nav_item {
  display: flex;
  align-items: center;
  margin-right: 0.5em;
}

.nav_links {
  color: var(--color-main);
  text-decoration: none;
  padding: 0.5rem 0.7rem;
}

.nav_links:hover {
  background-color: var(--color-main);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: var(--color-secondary);
}


.nav_links_mobile {
  display: none;
}

.menu_icon {
  display: none;
}
.nav_btn{
  padding: 8px 27px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--color-main);
  border-radius: 30px;
  color: var(--color-secondary);
  text-decoration: none;
  transition: 0.5s;
}
.nav_btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 8px var(--color-main);
}
.icon_nav{
  position: relative;
  right: 5px;
  top: 2px;
}
.icon_btn{
  position: relative;
  top: 3px;
  right: 5px;
  transform: scale(1.2);
}
.nav_bars{
  display: none;
}

@media screen and (max-width: 1200px){
  .nav_menu{
    display: none;
  }
  .logo{
    position: relative;
    left: 0;
  }
  .logo_nipe{
    width: 150px;
  }
  .nav_bars{
    display: flex;
    transform: scale(2);
    position: relative;
    right: 20px;
    top: 30px;
    color: var(--color-main);
  }
}