
.dropdown_menu {
    width: 200px;
    position: absolute;
    top: 75px;
    list-style: none;
    text-align: start;
    z-index: 2;
  }
  
  .dropdown_menu li {
    background: var(--main-color);
    cursor: pointer;
  }
  
  .dropdown_menu li:hover {
    background: var(--main-color-hover);
  }
  
  .dropdown_menu.clicked {
    display: none;
  }
  
  .dropdown_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--color-letter-secondary);
    padding: 16px;
  }